$def with(movies, count, key)
<!DOCTYPE html>
<html>
<head>
	<title>movies rater</title>
</head>
<body>
	<form action="/" method = "post">
		<input type = "text" name = "title">
		<input type = "submit" value = "search">
	</form>
	<h4>welcome to my site</h4>
	$if count > 0:
		$if key:
			<p>we find $count movies related to $key</p>
		$else:
			<p>There are $count movies in total</p>
		<p>they are:</p>
		$for movie in movies:
		<li>
			<a href="/movie/$movie['id']"> $movie['title']</a>
		</li>
	$else:
		<p>whoops, no result find</p>

</body>
</html>
