$def with (movie)
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
    <h1>$movie.title</h1>
    <p>$movie.origin</p>
    <a href = $movie.url >$movie.url</a>
    <p>$movie.rating</p>
    <figure>
        <img src="/static/poster/$(movie.id).jpg" alt="/static/poster/$(movie.id).jpg">
        <!--<img src = '$movie.image' alt="$movie.id">-->
    </figure>
    $for director in movie.directors.split(','):
    <p>directors:
        <a href="/director/$director">$director</a>
    </p>
    $ casts = movie.casts.split(',');
    <p>
        main casts:
        $for cast in casts:
            <a href="/cast/$cast">$cast</a>
    </p>
    <p>$movie.casts</p>
    <p>$movie.year</p>
    <p>$movie.genres</p>
    <p>$movie.countries</p>
    <p>$movie.summary</p>
</body>
</html>